body {
    margin: 10%;
}
h1 {
    text-align: center;
}

h5 {
    text-align: center;
}

hr {
    border-color: red;
    
} 
td {
    float: left;
    display: block;
    border-radius: 5%;
    float: left;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 5%;
}

    

  